

<form action="<%=cat_url(@cat)%>" method="GET">
<input type="hidden" name="_method" value="PATCH">
    <label for="name">name: </label>
    <input  id="name" type="text" name = cat[name] value="<%=@cat.name%>">

    <p>Select SEX Type</p>
    <div>
        <input type="radio"  id="M" name='cat[sex]' value="M" <%= @cat.sex == "M" ? "checked" : ""%>>
        <label for="M">male </label>
    </div>
    <div>
        <input type="radio" id="sex" name='cat[sex]' value="F" <%= @cat.sex == "F" ? "checked" : ""%>>
        <label for="F">female </label>
    </div>

    <p>Select Color</p>
    <select name="cat[color]" id="cat_color">
        <option disabled selected>-- select a color --</option>
          <% Cat::AVILABLE_COLORS.each do |color| %>
            <option
              value="<%= @cat.color%>" <%= @cat.color == color ? "selected" : ""%>>
              <%= color.upcase %>
         </option>
          <% end %>
    </select>
    <br>
    <br>
    <br>
    <label for="date">Date:</label>
    <br>
    <input type="date" id="date" name=cat[birth_date]  value = "<%= @cat.birth_date %>" <%= @cat.birth_date  ? "selected" : ""%>   >
    <br>
    <br>
    <label for="disc">Cat discreption:</label>
    <br>
    <textarea id="disc" name="cat[description]" value= "<%= @cat.description%>"  >
        <%= @cat.description %>
    </textarea> 

    <input type="submit" value="Update cat">




</form>