
<h2>Here is <%= @cat.name%> information : </h2>
<table>
    <thread>
        <tr>
            <th colspan = "2">CAT INFORMATION</th>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td colspan = "2">name : <%= @cat.name%></td>
            <td colspan = "2">color : <%= @cat.color%>   </td>
            <td colspan = "2">birth_date : <%= @cat.birth_date%>   </td>
            <td colspan = "2">sex : <%= @cat.sex%>   </td>
            <td colspan = "2">description : <%= @cat.description%></td>
        </tr>

    </tbody>

</table>